html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.badge-ios {
  width: 295px;
  margin: 25px;
}

.badge-android {
  width: 350px;
}

.menu {
  width: 100%;
  padding-top: 0.6rem;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-thread {
  padding-left: 0.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.menu-list {
  padding: 0;
  margin: 0;
  text-decoration: none;
  margin-right: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.menu-list-item {
  padding: 0.5rem;
}

.a-item-menu {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.menu-list-item:hover {
  border-bottom: 1px solid white;
}

.container-cover {
  width: 100%;
  height: 800px;
  background-image: url('../img/cover.png') ;
  background-size: cover;
  background-repeat: no-repeat;
}

.information-cover-hidden {
  display: none;
}

.information-cover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.container-information-cover {
  width: 40%;
  padding-right: 25%;
}

.title-information-cover {
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.description-cover {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.raibon-thread {
  width: 100%;
  height: 40px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-characteristics {
  width: 100%;
  background: url('../img//rigth-container.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.container-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.title-h2-characteristics {
  margin: 0;
  color: #009387;
  border-bottom: 1px solid #009387;
}

.title-h2-characteristics-white {
  margin: 0;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.container-text-and-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-alings-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container-alings-rigth {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-information-characteristics {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-information-characteristics-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.container-information-characteristics-text p {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 2px black;
}

.white-text {
  border: 1px solid;
  padding: 1rem;
  color: #696969 !important;
  text-shadow: 1px 1px 2px white !important;
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
}

.image-profile {
  box-shadow:  3px 7px 13px 3px rgba(0, 0, 0, 0.2);
}

.dowloand-container {
  width: 100%;
  height: 600px;
  background: #42a398;
}

.container-information-dolowand-img-text {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-text-and-img p {
  width: 50%;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container-img-dolowands {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.container-contactar {
  width: 100%;
  height: 300px;
  background: black;
  display: flex;
  justify-content: space-around;
}

.information-cpu {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 20%;
}

.information-r {
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.information-r a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.t-p {
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}

.list-to-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .container-information-cover {
    width: 40%;
    padding-right: 15%;
  }

  .title-information-cover {
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .container-information-dolowand-img-text {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  body {
      min-width: fit-content;
  }
}

@media screen and (max-width: 879px) {
  .dowloand-container {
    width: 100%;
    height: 850px;
    background: #42a398;
    align-items: center;
  }

  .container-information-dolowand-img-text {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-information-characteristics {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu {
    width: 100%;
    padding-top: 0.6rem;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .badge-ios {
    width: 295px;
    margin: 25px;
  }

  .badge-android {
    width: 350px;
  }

  .container-information-dolowand-img-text {
    width: 95%;
    margin: 0% 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-text-and-img p {
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .container-img-dolowands {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-text-and-img p {
    width: 70%;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .dowloand-container {
    width: 100%;
    height: 1050px;
    background: #42a398;
  }

  .container-information-cover {
    width: 40%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 760px) {
  .container-information-cover {
    width: 40%;
    padding-right: 5%;
  }

  .menu {
    width: 100%;
    padding-top: 0.6rem;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .a-item-menu {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  .title-information-cover {
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .description-cover {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.6;
  }
}

@media screen and (max-width: 760px) {
  .a-item-menu {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  .title-thread {
    padding-left: 0.1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
  }

  .container-information-cover {
    width: 30%;
    padding-right: 0%;
  }

  .title-information-cover {
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .description-cover {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.6;
  }

  .container-information-characteristics {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .container-information-characteristics-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .container-information-characteristics-text p {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  .white-text {
    border: 1px solid;
    padding: 1rem;
    color: black !important;
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
  }

  .menu-list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-right: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    display: none;
  }

  .container-information-cover {
    width: 100%;
  }

  .information-cover {
    display: none;
  }

  .information-cover-hidden {
    width: 95%;
    padding: 0% 2.5%;
    background: #42a498;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .container-information-dolowand-img-text {
    width: 95%;
    margin: 0% 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-text-and-img p {
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .container-img-dolowands {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .badge-ios {
    width: 295px;
    margin: 25px;
  }

  .badge-android {
    width: 350px;
  }

  .dowloand-container {
    width: 100%;
    height: 1050px;
    background: #42a398;
  }

  .container-contactar {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }

  .information-cpu {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    align-items: center;
  }

  .information-r {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 90%;
    text-align: center;
  }

  .title-thread {
    padding-left: 0.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 35px;
  }
}